.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fffefe;
  color:black;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


.product-list {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-card img {
  max-width: 100px;
}

.product-detail {
  text-align: center;
  padding: 20px;
}

.product-detail img {
  max-width: 200px;
}

.App {
  font-family: Arial, sans-serif;
}
