
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 98%;
  top: 0;
  z-index: 1000;
}

.navbar__logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ff3366; /* Myntra's signature color */
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s;
}

.navbar__links a:hover {
  color: #ff3366; 
  /* background-color: aqua; */
}

.navbar__search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
}

.navbar__search input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.navbar__search button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  background-color: #ff3366;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.navbar__search button:hover {
  background-color: #e62e6a; /* Darker shade for hover effect */
}

.navbar__actions {
  display: flex;
  align-items: center;
}

.navbar__actions a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.navbar__actions a:hover {
  color: #ff3366; /* Myntra's signature color on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__links, .navbar__actions {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__links a, .navbar__actions a {
    margin: 5px 0;
  }

  .navbar__search {
    margin: 10px 0;
  }
}
